body {
  margin: 0;
  background-color: #664e4e;
  width: 100%;
  height: 100vh;
}

.top {
  width: 100%;
  height: 20vh;
  background-color: #e90d0d;
}

.middle {
  background-color: #EFEFEF;
  margin: 0 auto;
  width: 75%;
  height: 70vh;
}

.bottom {
  background-color: #222222;
  margin: 0 auto;
  width: 75%;
  height: 10vh;
}
