body {
  margin: 0;
  background-color: #d1d1ce;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 20vh;
  background-color: #c26851;
}

.main-content {
  background-color: #fffefe;
  margin: 0 auto;
  width: 75%;
  height: 70vh;
}

.footer {
  background-color: #191a1b;
  margin: 0 auto;
  width: 75%;
  height: 10vh;
}
